<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Add Customer</h3>
<p>
    <a th:href="@{/customer}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form th:action="@{/customer/save}" th:object="${customer}" method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">
        <div>
            <lable>Name</lable>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <lable>Email</lable>
            <input type="text" th:field="*{email}">
        </div>
        <div>
            <lable>Address</lable>
            <input type="text" th:field="*{address}">
        </div>
        <input type="submit" value="save">
    </form>
</div>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>